<div class="container">
	<div class="d-flex justify-content-around flex-wrap h-100">
		<div class="card">
			<div class="card-body">
                <h5 class="card-title">Gênero Masculino</h5>
				<div class="card-text d-flex justify-content-center align-items-center">
                    <h1>{{(males)?.length}}</h1> usuários
                </div>
			</div>
        </div>
        
        <div class="card">
			<div class="card-body">
                <h5 class="card-title">Gênero Feminino</h5>
                <div class="card-text d-flex justify-content-center align-items-center">
                    <h1>{{(females)?.length}}</h1> usuários
                </div>
			</div>
        </div>
        
        <div class="card">
			<div class="card-body">
                <h5 class="card-title">Novos Usuários</h5>
                <div class="card-text d-flex justify-content-center align-items-center">
                    <h1>5</h1> usuários
                </div>
			</div>
        </div>

        <div class="dividor"></div>

        <div class="card large">
			<div class="card-body">
                <h5 class="card-title">Instalações do App</h5>

			</div>
        </div>
        
	</div>
</div>
